{% extends "blog/base.html" %}

{% block title %}Наши правила — Блогикум{% endblock %}

{% block content %}
    <div class="container py-5">
        <h1>Наши правила</h1>
        <p><b>Самовыражение.</b> У наших пользователей должна быть возможность создать что-то своё, выразить себя, свои мысли и чувства.</p>
        <p><b>Многообразие.</b> Мы уважаем и приветствуем разные мнения и культуры. Блогикум — это место, объединяющее самых разных людей.</p>
        <p><b>Творчество.</b> Не важно, в какой области вы творите — литература, дизайн, программирование. Наши инструменты помогут раскрыть талант.</p>
        <p><b>Личность.</b> Мы сохраним ваши мысли в тайне. Делитесь информацией только с теми, кого выбрали сами.</p>
    </div>
{% endblock %}
